NEXT_PUBLIC_DP_URL=https://dp.horizonpivots.com
NEXT_PUBLIC_PLATFORM_URL=https://horizonpivots.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me
DP_OWNER_CLERK_USER_ID=user_replace_me
DP_SESSION_SECRET=replace_with_at_least_32_random_characters
NEXT_PUBLIC_SUPABASE_URL=https://project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_replace_me
DP_DATABASE_ACCESS_KEY=replace_with_a_random_64_character_server_key
